body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff, #c6dbff);
    color: black;
    text-align: center;
    box-sizing: border-box;
}

#time {
    font-size: 8vw;
    font-weight: bold;
    margin: 1vw;
}

#date {
    font-size: 3vw;
    margin: 1vw;
}

.message {
    font-size: 4vw;
    font-weight: bold;
    margin: 1vw;
}

@media (max-width: 768px) {
    #time {
        font-size: 18vw;
        margin: 3vw;
    }

    #date {
        font-size: 6vw;
        margin: 3vw;
    }

    .message {
        font-size: 8vw;
        margin: 3vw;
    }
}